<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gzqf.clubapi.dao.ApiLoginDao">
    <sql id="memberColumn">
        a.id as "id",
        a.name as "name",
        a.password as "password",
        a.email as "email",
        a.sex as "sex",
        a.level as "level",
        a.phone as "phone",
        a.coach_id as "coachId",
        a.pic as "pic",
        a.address as "address",
        a.memberday as "memberDay",
        a.age as "age",
        a.plan as "plan",
        a.wantbuild as "wantBuild",
        a.is_coach as "isCoach",
        a.is_del as "isDel",
        a.created AS "created",
        a.updated as "updated"
    </sql>

    <select id="getByNameAndPassword" resultType="com.gzqf.club.entity.Member">
        SELECT
        <include refid="memberColumn"></include>
        FROM member a
        WHERE a.name=#{name} and a.password=#{password}
    </select>


</mapper>