<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gzqf.club.dao.IAppcatDao">
    <sql id="appcatColumn">
        a.id,
        a.category_name as "name",
        a.category_pic as "pic",
        a.category_describe as  "describe",
        a.category_mode as "mode",
        a.category_play as "play",
        a.category_video as "video",
        a.is_parent as "isParent",
        IFNULL(a.cattegory_id,0) as "parent.id",
        IFNULL(b.category_name,'/') as "parent.name"
        /*a.created,
        a.updated*/
    </sql>

    <!--查询符合条件的数据-->
    <select id="findList" resultType="com.gzqf.club.entity.Appcat">
        select
        <include refid="appcatColumn"></include>
        from app_cat a
        left join app_cat b on a.cattegory_id = b.id
        where 1=1
        <if test="name != null and name !=''">
            and a.category_name like concat('%',#{name},'%')
        </if>
        <if test="page!=null">
            limit #{page.start},#{page.pageSize}
        </if>
    </select>

    <!--/依据ID查询子数据-->
    <select id="queryChildrenAppcat" resultType="com.gzqf.club.entity.Appcat">
        select
        <include refid="appcatColumn"></include>
        from app_cat a
        left join app_cat b on a.cattegory_id = b.id
        where a.cattegory_id = #{id}
    </select>

    <!--/依据ID查询数据-->
    <select id="getById" resultType="com.gzqf.club.entity.Appcat">
        select
        <include refid="appcatColumn"></include>
        from app_cat a
        left join app_cat b on a.cattegory_id = b.id
        where a.id = #{id}
    </select>
    <!--查询符合条件的条数-->
    <select id="findListCount" resultType="java.lang.Long">
        select count(*)
        from app_cat a
        where 1=1
        <if test="name != null and name !=''">
            and a.category_name like concat('%',#{name},'%')
        </if>
    </select>

    <!--更新数据-->
    <update id="update">
        update app_cat
        set
        cattegory_id = #{parent.id},
        category_name = #{name},
        category_pic = #{pic},
        category_describe = #{describe},
        category_mode = #{mode},
        category_play = #{play},
        category_video = #{video}
        where id = #{id}
    </update>

    <update id="setIsParentTrue">
        update app_cat
        set is_parent = 1
        where id = #{id}
    </update>

    <update id="setIsParentFalse">
        update app_cat
        set is_parent = 0
        where id = #{id}
    </update>
    <!--新增-->
    <insert id="save">
        insert into app_cat(cattegory_id,category_name,category_pic,category_describe,category_mode,category_play,category_video)
        values(#{parent.id},#{name},#{pic},#{describe},#{mode},#{play}, #{video})
    </insert>

    <!--删除数据-->
    <delete id="delete">
        delete from app_cat where id = #{id}
    </delete>
</mapper>